<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <input id="colorInput" placeholder="Please input HEX string"/>
  <select id="colorSelect">
    <option value="#ef4444">Red</option>
    <option value="#f97316">Orange</option>  
    <option value="#22c55e">Green</option>
  </select>

  <button id="okBtn">Ok</button>

  <script src="./index.js"></script>
</body>
</html>