<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Popup Demo</title>

  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 320px;
      height: auto;
    }

    .button {
      padding: .5rem 1rem;
      color: #ffffff;
      background-color: #2b4b6b;
      border-radius: 4px;
    }
  </style>
</head>
<body class="container">
  <button class="button">Button</button>

  <script src="./index.js"></script>
</body>
</html>